table {
  margin: auto;
  border-spacing: 20px;
  font-size: 2rem;
}

input{
  height: 60px;
  text-align: right;
  color: #0606FF;
  font-size: 2.2rem;
  padding: 10px;
}

td {
  text-align: center;
  height: 60px;
  color: #0606FF;
  font-weight: bold;
  user-select: none;
  width: 10px;
}

tr:not(:first-child) td {
  border: 4px solid #E0E0E0;
}

tr:not(:first-child) td:hover {
  background-color: #C70039;
  color: #DAF7A6;
}
